= link_to 'add new project', new_project_path
- for project in @projects
	%ul
		%li
			=	link_to project.name, project
			Budget left:
			=	number_to_currency project.total, unit: 'PhP'
			= link_to 'delete', project_path(project), :method => :delete, :confirm => 'Are you sure?', title: "Delete"